<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>传悦观点</title>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="header">
		<div class="w clearfix">
			<div class="logo">
				<a href="index.html#"><img src="images/logo.jpg"/></a>
			</div>
			<div class="head-nav fl">
				<a href="index.html#">网站首页</a>
				<a href="resource.html#">传悦资源</a>
				<a href="demo.html#">传悦案例</a>
				<a href="#">传悦服务</a>
				<a href="serch_engine_one.html">解决方案</a>
				<a href="need_to_submit.html#">需求提交</a>
			</div>
			<div class="head-icon fr">
				<a href="#"><i class="iconfont">&#xe61c;</i>0535-60652189</a>
				<a href="#"><i class="iconfont">&#xe601;</i></a>
				<a href="#"><i class="iconfont">&#xe806;</i></a>
				<a href="#"><i class="iconfont">&#xe691;</i></a>
				<a href="#"><i class="iconfont">&#xe603;</i></a>
			</div>
		</div>
	</div>
	<div class="main page2">
		<div class="w">
			<div class="mainpage2-top">
				<h2><%= data.title %></h2>
				<strong>标签：</strong><span>品牌营销</span>
				<span>网络推广</span>
				<span>网站建设</span>
				<span>全网营销</span>
			</div>	
			<div class="mainpage2-ad1">
				<img src="images/page2-ad.jpg" alt="">
			</div>
			<!-- <p>消费者为什么要看这些东西呢？它们提供了消费者什么利益？</p>
			<p>社会化语境下，让消费者说出喜好。</p> -->
			<p><%= data.details %></p>
			<!-- <p>社交性媒体无疑是与这个具化的、消费形象说话的最好路径。</p>
			<p>如以下的案例，具化的消费形象能让我们知道，他是个移动的年轻用户，对新的优惠活动有积极兴趣。</p>
			<p>贵州电信的合作，利用的就是移动社交平台，针对贵州地区的APP社交游戏，生活应用进行植入投放。在层层筛选，精准定向到目标受众，推送到受众面前的，不再是硬绑绑的广告，而是实实在在的优惠资讯。此次投放中，获得了的高点击率，无疑为我们社会化媒体投放策略打上一支强心针，从实践中检验策略的可行性。深入了解消费者需求，激发消费者参与度，要达到这一点目的，要求的已经远远超越传统的网络投放的思维和方法。通过对于用户接触到的各个接触点的分析监测，然后进行全局性，系统性的分析，优化数字营销策略，让消费者说出品牌喜好。</p> -->
			<div class="mainpage2-bot">
				<div class="m2bot">上一篇：<a href="">关于传悦网站减少根本的话想刘克军 </a></div>
				<div class="m2bot">下一篇：<a href="">关于传悦网站减少根本的话想刘克军 </a></div>
			</div>
		</div>
	</div>
	<div class="bot">
		<div class="w clearfix">
			<div class="bot-l fl">
				<img src="images/foot-logo.png"/>
			</div>
			<div class="bot-r fr">
				<a href="about_us_culture.html#">关于传悦</a><a href="#">新闻动态</a><a href="/viewpoint">传悦观点</a><a href="contact_us.html#">联系传悦 </a><a href="recruitment_information.html#">加入传悦</a><a href="#">付款账户</a>
				<p>Copyright&nbsp;©2013&nbsp;&nbsp;&nbsp;创梦网络科技有限责任公司&nbsp;&nbsp;&nbsp;‖&nbsp;&nbsp;&nbsp;传悦&nbsp;Chnyoo.cn&nbsp;All&nbsp;Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">京ICP备12005221号</a></p> 
			</div>
		</div>	
	</div>
</body>
</html>